main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #e4de41;
    padding: 15px;
    height: 80vh; 
    width: calc(100% - 5px); 
    margin: 0 auto; 
  }

  .forgot-password-container {
    background-color: white;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(47, 4, 4, 0.1);
    width: 400px;
    max-width: 100%; 
    font-family: 'Roboto', sans-serif; 
    display: block;
    margin-bottom: 30px;
    min-height: 400px; 
}

 .main-heading {
    color: #ff0000; 
    text-align: center;
    font-family: 'Roboto', sans-serif; 
    font-weight: 550; 
 }
 .subheading {
    color: #4b4a4a; 
    margin-bottom: 20px;
    text-align: center;
 }
 .email-label {
    color: #555555; 
 }
 .forgot-password-container label {
    display: block;
    margin-bottom: 8px;
    text-align: left; 
 } 

.forgot-password-container input[type="email"],
.forgot-password-container input[type="text"],
.forgot-password-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 25px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-btn, .next-btn {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s; 
 } 

.submit-btn:hover, .next-btn:hover {
    background-color: #f08d8dd7;
}

.error-message {
    color: #ff0000; 
    font-size: 14px;
    margin-top: 4px;
    margin-bottom: 20px;
}

@media (max-width: 450px) { 
    .forgot-password-container { 
        width: 100%;
        padding: 25px; 
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
        margin: auto;
    }

    .forgot-password-container input[type="email"],
    .forgot-password-container input[type="text"],
    .forgot-password-container input[type="password"] {
        padding: 8px; 
    }

    .submit-btn, .next-btn {
        padding: 10px; 
        font-size: 20px; 
    }
}