<main>
  <div class="forgot-password-container">
    <h2 class="main-heading">Reset Password</h2>
    <p class="subheading">Enter your email below to reset your password.</p>
    <form *ngIf="!passwordChanged" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" [(ngModel)]="email" required>
        <div *ngIf="errorMessage && !passwordChanged" class="error-message">
          {{ errorMessage }}
        </div>
      </div>
      <button type="submit" class="submit-btn">Send Password Reset Link</button>
    </form>
    <form *ngIf="passwordChanged" (ngSubmit)="onPasswordReset()">
      <div class="form-group">
        <label for="token">Reset Code:</label>
        <input type="text" id="token" name="token" [(ngModel)]="token" required>

      </div>
      <div class="form-group">
        <label for="newPassword">New Password:</label>
        <input type="password" id="newPassword" name="newPassword" [(ngModel)]="newPassword" required>
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirm New Password:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="confirmPassword" required>
        <!-- Display single error message for password reset at a time; weak password, invalid token or mismatch-->
        <div *ngIf="errorMessage && passwordChanged" class="error-message">
          {{ errorMessage }}
        </div>
      </div>
      <button type="submit" class="submit-btn">Reset Password</button>
    </form>
  </div>
</main>
