<!-- footer.component.html -->
<div class="b-example-divider"></div>


<footer class="py-5">
 <div class="footer-logo text-center mb-4">
   <img src="assets/1000px_logo_dollarstore.webp" alt="Dollarstore Logo" class="img-fluid logo-overlap">
 </div>
 <div class="container">
   <div class="row">
     <div class="col-6 col-md-2 mb-3">
       <h5>KONTAKT</h5>
       <ul class="nav flex-column">
         <li class="nav-item mb-2"><a href="https://www.dollarstore.se/hitta-till-butik" class="nav-link p-0 text-white">Butiker & Öppetider</a></li>
         <li class="nav-item mb-2"><a href="https://www.dollarstore.se/om-dollarstore" class="nav-link p-0 text-white">Om Dollarstore</a></li>
         <li class="nav-item mb-2"><a href="https://www.dollarstore.se/kundservice" class="nav-link p-0 text-white">Kundservice</a></li>
         <li class="nav-item mb-2"><a href="https://dollarstore.jobylon.com/" class="nav-link p-0 text-white">Lediga tjänster</a></li>
         <li class="nav-item mb-2"><a href="https://www.dollarstore.se/whistle-blower-temp" class="nav-link p-0 text-white">Whistleblower</a></li>
       </ul>
     </div>


     <div class="col-6 col-md-2 mb-3">
       <h5>HITTA SNABBT</h5>
       <ul class="nav flex-column">
         <li class="nav-item mb-2"><a href="https://www.dollarstore.se/annonsbladet" class="nav-link p-0 text-white">Annonsbladet</a></li>
         <li class="nav-item mb-2"><a href="https://www.dollarstore.se/nyheter" class="nav-link p-0 text-white">Dollarstore News Lab</a></li>
         <li class="nav-item mb-2"><a href="https://www.dollarstore.se/aterkallelser" class="nav-link p-0 text-white">Återkallelser</a></li>
         <li class="nav-item mb-2"><a href="https://www.dollarstore.se/integritetspolicy" class="nav-link p-0 text-white">Integritetspolicy</a></li>
         <li class="nav-item mb-2"><a href="https://www.dollarstore.se/cookiepolicy" class="nav-link p-0 text-white">Cookie policy</a></li>
       </ul>
     </div>


     <div class="col-6 col-md-2 mb-3">
       <h5>SOCIALA KANALER</h5>
       <ul class="nav flex-column">
         <li class="nav-item mb-2"><a href="https://www.instagram.com/dollarstoresverige/" class="nav-link p-0 text-white">Instagram</a></li>
         <li class="nav-item mb-2"><a href="https://www.facebook.com/dollarstore.se/" class="nav-link p-0 text-white">Facebook</a></li>
         <li class="nav-item mb-2"><a href="https://www.tiktok.com/@dollarstoresverige?lang=en" class="nav-link p-0 text-white">TikTok</a></li>
         <li class="nav-item mb-2"><a href="https://www.linkedin.com/company/dollarstore/" class="nav-link p-0 text-white">LinkedIn</a></li>
       </ul>
     </div>


     <div class="col-md-5 offset-md-1 mb-3">
       <form>
         <h5>Prenumerera på vårt nyhetsbrev</h5>
         <p>Våra heta tips!</p>
         <div class="d-flex flex-column flex-sm-row w-100 gap-2">
           <label for="newsletter1" class="visually-hidden">E-post adress</label>
           <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
           <button class="btn btn-primary" type="button">Subscribe</button>
         </div>
       </form>
     </div>
   </div>
 </div>
</footer>


<div class="black-bar">
 <p>Mighty Fine Prices Every Day Since 1999</p>
</div>


<div class="text-gray">
 <p>© Dollarstore AB 1999 - 2024. All rights reserved.</p>
</div>